body {
    background-color: rgb(97, 96, 96);
}

h1 {
    background-color: lightgrey;
}

p {
    color: white;
}

.row {
    display: table;
}

.column1 {
    float:left;
    width:30%;
}

.column2 {
    float: right;
    width:70%;
}

.paragraph1 {
    color: black;
}