<!DOCTYPE html>



<html>

  <head>
    <title> RESPONSE PAGE </title>
  </head>

  <body>
    <h1>
      Welcome, Travelers of the Intertoobz!
    </h1>
    <br>
    <p>What is POST request and what does it do?
    
    The POST request is the method that gets the form data behind the scenes although
    The GET request is responsible for the query string in the url, whereas POST do
    Usually get is used for some reason (at least by default)    
    </p>
    <br>
    <h3>
        Is this your ssn : {{ssn}}
    </h3>
    <br>
  </body>

</html>
